;;;
"title": "Dwarf Squad"
;;;
<div id="wrap">
  <div class="page-header">
    <h1>Dwarf Squad <small>Four Dwarves, One Controller.</small></h1>
  </div>
  <div class="well" id="phaser">
    <h1>derp</h1>
  </div>
</div>
<div id="footer">
  <div class="container center-block">
    <p class="text-muted" style="text-align:center;">Made for the <a href="http://globalgamejam.org/2014/games/dwarf-squad">2014 Global Game Jam</a>. Peruse the source on <a href="https://github.com/ggj14/dwarf-squad">GitHub</a>.</p>
  </div>
</div>
