<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
      <img data-src="images/kranzky.png" alt="Jason Hutchens" style="width:150px; height:100px;">
      <div class="caption">
        <h3>Beetlefeet</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img data-src="images/kranzky.png" alt="Jason Hutchens" style="width:150px; height:100px;">
      <div class="caption">
        <h3>Dodgy</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img data-src="images/kranzky.png" alt="Jason Hutchens" style="width:150px; height:100px;">
      <div class="caption">
        <h3>Kranzky</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
      <img data-src="images/kranzky.png" alt="Jason Hutchens" style="width:150px; height:100px;">
      <div class="caption">
        <h3>Dadams</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img data-src="images/kranzky.png" alt="Jason Hutchens" style="width:150px; height:100px;">
      <div class="caption">
        <h3>Aladar</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <img data-src="images/kranzky.png" alt="Jason Hutchens" style="width:150px; height:100px;">
      <div class="caption">
        <h3>Richard</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
